# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
import pandas as pd 
f=pd.read_csv('/content/sp500hst.txt', delimiter=',')
f.columns=["date", "ticker", "open", "high", "low", "close", "volume"]
f

            date ticker   open     high     low  close  volume
0       20090824      A  25.64  25.7400  25.330  25.50   22247
1       20090825      A  25.50  25.7000  25.225  25.34   30891
2       20090826      A  25.32  25.6425  25.145  25.48   33334
3       20090827      A  25.50  25.5700  25.230  25.54   70176
4       20090828      A  25.67  26.0500  25.630  25.83   39694
...          ...    ...    ...      ...     ...    ...     ...
122568  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122569  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122570  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122571  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122572  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122573 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
f.iloc[:, 2:6].mean()

open     42.595596
high     43.102386
low      42.054601
close    42.602004
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [13]:
import pandas as pd 
f=pd.read_csv('/content/sp500hst.txt', delimiter=',')
f.columns=["date","month" "ticker", "open", "high", "low", "close", "volume"]
f.insert(1,"month", value=pd.to_datetime(f['date'], format="%Y%m%d").dt.month)
f

            date  month monthticker   open     high     low  close  volume
0       20090824      8           A  25.64  25.7400  25.330  25.50   22247
1       20090825      8           A  25.50  25.7000  25.225  25.34   30891
2       20090826      8           A  25.32  25.6425  25.145  25.48   33334
3       20090827      8           A  25.50  25.5700  25.230  25.54   70176
4       20090828      8           A  25.67  26.0500  25.630  25.83   39694
...          ...    ...         ...    ...      ...     ...    ...     ...
122568  20100813      8         ZMH  51.72  51.9000  51.380  51.44   14561
122569  20100816      8         ZMH  51.13  51.4700  50.600  51.00   13489
122570  20100817      8         ZMH  51.14  51.6000  50.890  51.21   20498
122571  20100819      8         ZMH  51.63  51.6300  50.170  50.22   18259
122572  20100820      8         ZMH  50.03  50.5500  49.480  49.82   17792

[122573 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [16]:
import pandas as pd 
f=pd.read_csv('/content/sp500hst.txt', delimiter=',')
f.columns=["date","month" "ticker", "open", "high", "low", "close", "volume"]
f.insert(1,"month", value=pd.to_datetime(f['date'], format="%Y%m%d").dt.month)
f[["ticker","volume"]].groupby("ticker").sum()

KeyError: ignored

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [18]:
import pandas as pd
f=pd.read_csv('/content/sp500hst.txt', delimiter=',')
f.columns=["date", "ticker", "open", "high", "low", "close", "volume"]
open_file_csv=pd.read_csv("sp_data2.csv", sep=';')
open_file_csv.columns= ["ticker", "company", "precent"]
df= pd.merge(f,open_file_csv, how='left')
f

            date ticker   open     high     low  close  volume
0       20090824      A  25.64  25.7400  25.330  25.50   22247
1       20090825      A  25.50  25.7000  25.225  25.34   30891
2       20090826      A  25.32  25.6425  25.145  25.48   33334
3       20090827      A  25.50  25.5700  25.230  25.54   70176
4       20090828      A  25.67  26.0500  25.630  25.83   39694
...          ...    ...    ...      ...     ...    ...     ...
122568  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122569  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122570  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122571  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122572  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122573 rows x 7 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [20]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
review=pd.read_csv('reviews_sample.csv')
print(recipes.head())
print(rw.head())

                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

    submitted  n_steps                                        description  \
0  2002-10-25      NaN  an original recipe created by chef scott meska...
1  2003-07-26      NaN  my children and their friends ask for my homem...
2  2002-08-29      NaN            these were so go, it surprised even me.
3  2002-07-27      NaN  my sister-in-law made these for us at a family...
4  2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients
0           18.0
1            NaN
2            8.0
3            NaN
4            NaN
   Unnamed: 0     user_id  recipe_id        date  rating  \
0      370476       21752      57993  2003-05-01       5
1      624300      431813     142201  2007-09-16       5
2      187037      400708     252013  2008-01-10       4
3      706134  2001852463     404716  2017-12-11       5
4      312179       95810     129396  2008-03-14       5

                                              review
0  Last week whole sides of frozen salmon fillet ...
1  So simple and so tasty!  I used a yellow capsi...
2  Very nice breakfast HH, easy to make and yummy...
3  These are a favorite for the holidays and so e...
4  Excellent soup!  The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [24]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
review=pd.read_csv('reviews_sample.csv')
print(f'таблица recipes:\nСтрок:{len(recipes)}\nСтобцов: {len(recipes.axes[1])}\n{recipes.dtypes}')
print(f'таблица review:\nСтрок:{len(review)}\nСтобцов: {len(review.axes[1])}\n{review.dtypes}')

таблица recipes:
Строк:30000
Стобцов: 8
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
таблица review:
Строк:126696
Стобцов: 6
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [29]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
review=pd.read_csv('reviews_sample.csv')
print("для таблицы recipes:")
print(recipes.isnull().sum())
print('доля:', sum([True for i, row in recipes.iterrows() if any(row.isnull())])/len(recipes))
print("-----------------------")
print("для таблицы review:")
print(review.isnull().sum())
print('доля:', sum([True for i, row in review.iterrows() if any(row.isnull())])/len(review))

для таблицы recipes:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
доля: 0.5684666666666667
-----------------------
для таблицы review:
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
доля: 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [2]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
review=pd.read_csv('reviews_sample.csv')
print("Recipes:")
for column in recipes.select_dtypes(include=[float,int]):
  print(column ,":", round(recipes[column].mean(),2))

print("\n Review:")
for column in review.select_dtypes(include=[float,int]):
  print(column ,":", round(review[column].mean(),2))

Recipes:
id : 221879.29
minutes : 123.36
contributor_id : 5635900.57
n_steps : 9.81
n_ingredients : 9.01

 review:
Unnamed: 0 : 566089.82
user_id : 140801264.74
recipe_id : 160094.39
rating : 4.41

1.5 Создайте серию из 10 случайных названий рецептов.

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [5]:
import numpy as np 
import pandas as pd
review=pd.read_csv('reviews_sample.csv')
even= review[::2].reset_index(drop=True)
print(even)

       Unnamed: 0     user_id  recipe_id        date  rating  \
0          370476       21752      57993  2003-05-01       5
1          187037      400708     252013  2008-01-10       4
2          312179       95810     129396  2008-03-14       5
3          212649      404333     199579  2006-12-10       5
4          642377       89831      33715  2007-07-03       5
...           ...         ...        ...         ...     ...
63343      605307       17803      19209  2006-01-31       5
63344      262084     2359391     292638  2012-10-25       4
63345      344676      724631     314698  2008-10-14       5
63346      158736     2282344       8701  2012-06-03       0
63347      453285  2000242659     354979  2015-06-02       5

                                                  review
0      Last week whole sides of frozen salmon fillet ...
1      Very nice breakfast HH, easy to make and yummy...
2      Excellent soup!  The tomato flavor is just gre...
3      Made this for dinner it was so excellent, fina...
4      This was good combination of flavors but I wil...
...                                                  ...
63343  My daughter made this and it turned out OH SO ...
63344  This is a great easy cobbler recipe when time ...
63345  5 Stars, The Hunter said the mushrooms and sau...
63346  This recipe is outstanding. I followed the rec...
63347  I have been a steak eater and dedicated BBQ gr...

[63348 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [14]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
filtered_recipes = recipes[(recipes['minutes'].astype(int) < 20) & (recipes['n_ingredients'] <= 5)]
print(filtered_recipes)

                                                    name      id  minutes  \
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
112                                   10 minute lime pie  513963       10
117                               100 year old pie crust  126072       15
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
112           2284242  2014-03-04     12.0
117            205983  2005-06-15      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
112    a super easy stand-in for traditional key lime...            5.0
117                                very nice light crust            5.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[1750 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [22]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'], format='%d-%m-%Y')
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [3]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
filt_data = recipes[recipes['submitted'] >= '2010-01-01']
print(filt_data)

                                                    name      id  minutes  \
8                     1 in canada chocolate chip cookies  453467       45
13               blepandekager   danish   apple pancakes  503475       50
36                                 5 minute bread  pizza  487173       45
39                    bacon cheeseburger and fries  soup  447429       60
47                        full cool  macaroni and cheese  463219       25
...                                                  ...     ...      ...
29965                         zucchini sausage casserole  472482       80
29976                                      zucchini tots  505053       20
29992  zucchini  courgette soup  good for weight watc...  415406       45
29994                                     zuppa by luisa  464576       70
29998                                        zydeco soup  486161       60

       contributor_id   submitted  n_steps  \
8             1848091  2011-04-11     12.0
13             128473  2013-07-08     10.0
36            2406227  2012-09-19     30.0
39            1355934  2011-01-26      NaN
47             383346  2011-08-28      8.0
...               ...         ...      ...
29965          447199  2012-01-20     13.0
29976          798181  2013-07-31      NaN
29992          485109  2010-03-04      5.0
29994          226863  2011-09-20     14.0
29998          227978  2012-08-29      NaN

                                             description  n_ingredients
8      this is the recipe that we use at my school ca...           11.0
13     this recipe has been posted here for play in z...            NaN
36     my son recently showed me a recipe for artisan...            8.0
39     my son asked for cheeseburger soup, and having...           17.0
47     a recipe from ricardo that is popular with kid...           11.0
...                                                  ...            ...
29965  this was a real hit with my family! this recip...            NaN
29976  'the happy homemaker blog' shared this recipe ...            NaN
29992  this is a favourite winter warmer. by british ...            NaN
29994     this soup is a hearty meal!  from luisa musso.           17.0
29998  this is a delicious soup that i originally fou...            NaN

[3877 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [4]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
recipes['description_length']=recipes['description'].str.len()
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [7]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
recipes['name']=recipes['name'].str.title()
print(recipes)

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [9]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
recipes['name_word_count']=recipes['name'].str.split().str.len()
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       name_word_count
0                    8
1                    5
2                    7
3                    3
4                    8
...                ...
29995                8
29996                4
29997                5
29998                2
29999                7

[30000 rows x 9 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [12]:
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
contribution=recipes['contributor_id'].value_counts()
contribution_max= contribution.idxmax()
print(f'количество каждого участника:\n {contribution}')
print(f'участники с id={contribution_max} максимальное количество')

количество каждого участника:
 89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64
участники с id=89831 максимальное количество

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [13]:
import pandas as pd

recipes = pd.read_csv('recipes_sample.csv')
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

recipe_counts_by_year = recipes.groupby(recipes['submitted'].dt.year)['name'].count()

print(recipe_counts_by_year)

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3